body{
    padding: 0px;
    margin: 0px;
    background-color: black;
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 100%;
}

#header{
    display: flex;
    height: 15%;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
}

#content{
    text-align: center;
    height: 70%;
    background-color: aquamarine;
}

#footer{
    text-align: center;
    height: 15%;
    background-color: white;
}